
body
{
background-color: aquamarine;
}

input[type=text]
{
   color:orange;
}
#save
{
    display:inline-block;
    color:whitesmoke;
  background-color:green;
    font-size:20px;
    font-style:oblique;
    text-align:center;
    margin-top:20px;
padding-left:10px;
   padding-right:20px;
    height:50px;
    width:250px;
}

#todo
{
  width:250px;
}

.adjust
{
  display:inline-block;
}
#fav
{
  color:blue;
}

.mark
{
  background-color:green;
  border-radius:100%;
  height:30px;
  width:30px;
  margin-right:20px;
  display:inline-block;
}

.delete
{
  background-color:red;
  height:30px;
  width:30px;
  display:inline-block;
  margin-left:10px;
}

#task
{
  color:antiquewhite;
 
}

.item
{

margin-top:10px;
margin-bottom:10px;
display:inline-block;
position:relative;
background-color:white;

}

.title
{
  font-style: initial;
 
  max-width:100px;
color:blue;

border:0px solid aquamarine;
position:relative;
display:inline-block;

margin-right:100px;


}
.description
{
  font-style: initial;
color:blue;

max-width:100px;
border:0px solid white;

display:inline-block;
margin-right:100px;
}
#task
{
  border:0px solid aquamarine;
  display:inline-block;
position:absolute;
left:400px;
  
}
.date
{
  background-color:white;
  display:inline-block;
height:30px;
width:30px;
}

